atomicwrites==1.4.0
attrs==21.4.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
-e git+https://github.com/Himanshu24-droid/flaskintro.git@e45dd060fa221c8c33b9c75330dbad4fa9ee5fe1#egg=flaskr
greenlet==1.1.1
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
SQLAlchemy==1.4.25
toml==0.10.2
Werkzeug==2.0.1
