body {font-family: 'Montserrat','Times New Roman', sans-serif, serif;font-size: 1rem;color: #fff;background-color: #212121;}
.welcome {font-size: 32px; font-weight: normal; margin: 30px auto; text-align: center; }
.account-box {margin: 0 auto; width: 400px; box-shadow: 0 6px 15px rgba(204, 199, 199, 0.699);}
.flash {margin: 1.5rem 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8;color: black;}
.account-wrapper {background-color: rgba(255, 255, 255, 0.932); padding: 30px;}
.account-box .form-group {margin-bottom: 25px;}
.account-box .btn {background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);border-radius: 0;font-size: 22px;padding: 10px 26px;box-shadow: 0 6px 15px rgba(255, 155, 68, 0.6);border:0;color: white;width: 100%;-webkit-appearance: button;cursor: pointer;}
.account-box .btn:hover, .account-box .btn:focus {border:0;opacity:0.8;}
.account-box a {font-size: 30px;text-decoration: none; color: #377ba8;}
.account-box a:hover {color: #ff9b44;}
.account-logo {font-weight: bold; margin-bottom: 40px;text-align: center;}
.text-center {text-align: center;}
.field .input{font-family: 'Montserrat','Times New Roman', sans-serif, serif; margin: 0; width:100%;padding: 0.25rem 0;font-weight: bold; font-size: 1rem;border: none;outline: none;background: none;overflow: hidden;}
.field{position: relative;width: 100%;border-bottom: 2px solid black;margin-bottom: 30px;}
.field .label{position: absolute;top: 0;left: 0;padding: 0.25rem 0;font-size: 1.2rem;color: rgba(0, 0, 0, 0.438);pointer-events: none;transition: 0.5s;}
.field .input:focus ~ .label,.field .input:valid ~ .label{top: -22px;left: 0;font-size: 1.1rem;color: black;}
.input:valid{color: blueviolet;}
.input:invalid{color: orangered;}
.switch{color: black;text-align: center;font-size: 1.2rem;}
.switch a{font-weight: bold; font-size: 1.3rem;text-decoration: none; color: #377ba8;padding-left: 4px;}
.switch a:hover {color: #ff9b44;}