{% extends 'base2.html' %}

{% block title %}Login{% endblock %}
{% block content %}
    <form method="post">
            <div class="field">
                <input class="input" name="username" type="username" placeholder="" required>
                <label for="username" class="label">Username</label>
            </div>
            <div class="field">
                <input class="input" name="password" type="password" placeholder="" required>
                <label for="password" class="label">Password</label>
            </div>
            <div class="form-group text-center">
                <input type="submit" name="submit" value="Login" class="btn">
            </div>
            <div class="switch">New User?<a href="{{url_for('auth.register')}}">Register</a></div>
    </form>
{% endblock %}